<!DOCTYPE html>
<html lang="en">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<head>
  <title>Departures</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
  <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>
</head>
<body>
<script>
  $(document).ready(function()
  {
  $('.button').buttonplate();
  });
</script>

<%= yield %>

<div id="right">
    <div id="rightback"></div>
    <div id="logo">
    <img src="/assets/logo.jpg" width="180" height="180" alt="" class="fillet-33">
    </div>
    <div id="olo" class="fillet-33"></div>
    <div id="lol"></div>
    <%= yield :tags %>
    <img id="rightimg" src="/assets/banner.jpg" width="1365" height="768" alt=""/>
</div>

</body>
</html>
